@import '~bootstrap-reboot/bootstrap-reboot.scss';
@import '~bootstrap-4-grid/scss/grid.scss';
@import '~font-awesome/scss/font-awesome.scss';
@import '~aos/dist/aos.css';

@import 'vars';

body {
  background: $global-light-color;
  color: #303030;
}

main {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  font-family: Raleway, sans-serif;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
    font-family: Oswald, sans-serif;
    font-size: #{2.4 - ($i - 1)*0.5}em;
    margin: #{70 - ($i * 10)}px 0 10px;
  }
}

h1 {
  text-align: center;
  line-height: 1.05em;
  font-family: Raleway, sans-serif;
  margin: 0;

  small {
    font-weight: bold;
    font-family: Oswald, sans-serif;
  }

  .team {
    font-size: 0.4em;
    font-style: italic;
    line-height: 0;
  }
}

hr {
  height: 1px;
  background: darken($global-light-color, 2);
  border: 0;
  margin: 45px auto;
  width: 60%;
  text-align: center;

  &::after {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: FontAwesome, sans-serif;
    color: $amazon-color;
    display: inline-block;
    background: white;
    position: relative;
    top: -0.8em;
    padding: 0 10px;
  }
}

section {
  &.intro {
    font-size: 1.3em;
    font-family: Raleway, sans-serif;

    img {
      display: block;
      max-width: 400px;
      margin: 30px auto;
    }
  }

  &.citations {
    font-size: 0.8em;
  }

  div.graph {
    margin: 30px 0;
  }
}

.fa {
  &.fa-star {
    color: $amazon-color;
  }

  &.fa-star-o {
    color: #b2b2b2;
  }
}

.colored {
  color: $amazon-color;
}

.centered {
  text-align: center;
}

@import 'chart';
@import 'review';
@import 'table';
